#///////////////////////////
library/
temp/
local/
build/
profiles/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/
.DS_Store
#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
/library
/local
temp
